* {
    padding: 0px;
    margin: 0px auto;
}

.wrapper {
    height: 585px;
    width: 1000px;
    margin: 8px;
    position: absolute;
    background-image: linear-gradient(to top, #5da4ef, #6ecbec);
}
header {
    height: 50px;
    width: 1000px;
    position: relative;
    border-bottom: 5px dotted white ;
}
.menu {
    list-style: none;
    display: flex;
    width: 570px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: 12px;
    left:  0;
}

.menu_item a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
.menu li:hover {
    background-color: #00f269;
}

.menu li:hover .sub_menu {
    display: block;
}
.sub_menu {
    color: white;
    display: none;
    position: absolute;
    background-color: #3d73b1;
    list-style: none;
    margin-left: 0;
    top: 30px;
}
.sub_menu li {
    height: 30px;
}

.sub_menu li:hover {
    background-color: #00f269;
}
.content{
    display: flex;
    height: 460px;
    width: 1000px;
    
    
}
.left_content{
    
    width: 50%;
}
.right_content{
    
    width: 50%;
}
footer{
    height: 75px;
    width: 1000px;
   
    border-top: 5px dotted white;
}
footer p{
    position: absolute;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 1000px;
    bottom: 10px;
}