*{padding: 0px; margin: 0px auto;}
.wrapper{ 
    height: 580px; 
    width: 900px; 
    margin: 8px;
    border: 2px solid black;
    position: absolute;
}
header{
    display: flex;
    height: 100px; 
    width: 900px; 
    background-color: #294e7a;
}
header img{ position: absolute; left: 15px; top: 10px;}
.frm1{
    position: absolute;
    top: 8px;
    right: 12px;
}
#txt1{
    color: aliceblue; 
    background-color: #1c3352; 
    border: 1px solid #346192; 
    font-size: large;
}
#txt2{
    background-color: #1c3352; 
    color: aliceblue;
    font-size: large;
    border: 1px solid #346192;
}
.menu{
    list-style: none;
    display: flex;
    width: 570px;
    height: 45px;
    position: absolute;
    top: 55px;
    right: 0;
}
.menu_item {
    padding: 12px;
    background-color: #3d73b1;
}
.menu_item a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.menu li:hover{
    background-color: #00f269;
}
.menu li:hover .sub_menu{
    display: block;
}
.sub_menu{
  color: white;
  display: none;
  position: absolute;
  background-color:  #3d73b1;
  list-style: none;
  margin-left: -12px;
  top: 45px;
   
}
.sub_menu li{
    height: 30px;
}
.sub_menu li:hover{
    background-color: #00f269;
}
.content{
    display: flex;
    height: 445px;
    width: 900px;
    background-color: aliceblue;
}
.c1{
    margin: 10px;
    width: 640px;

}
.c1_2{
    display: flex;
}
.c1_2_left{
    width: 325px;
}
.submit:hover{
    cursor: pointer;
}
.c1_2_right{
    margin-left: 40px;
    width: 280px;
}
.c2{
    background-color: #E6E6FA ;
    width: 260px;
}
footer{
    width: 900px;
    height: 35px;
    background-color: #483D8B  ;
}