* {
    padding: 0px;
    margin: 0px auto;
}

.wrapper {
    position: relative;
    display: grid;
    height: 750px;
    width: 750px;
    margin: 10px;
    border: 1px solid black;
    grid-template-areas:
        "header header"
        "menu menu"
        "backgroup backgroup"
        "sign links"
        "sign more"
        "footer footer";
    grid-template-rows: 60px 30px 160px 1fr 1fr 50px;
    grid-template-columns: 1fr 215px;
}

header {
    grid-area: header;
    background-color: #ac4b16;
    width: 750px;
    position: relative;
}

header h1 {
    position: relative;
    left: 15px;
    top: 8px;
    color: #808000;
    text-shadow: -5px -5px 4px white;
    font-size: 30px;
}

.menu {
    grid-area: menu;
    width: 500px;
    list-style: none;
    background-color: white;
    display: flex;
}

.menu_item {
    padding: 8px;
    position: relative;
}

.menu_item a {
    color: #ac4b16;
    text-decoration: none;
}

.menu li:hover {
    background-color: #48a846;
}

.menu li:hover .sub_menu {
    display: block;
}
.sub_menu {
    color: white;
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    left: 0;
    top: 100%;

}
.sub_menu1{
    padding: 5px;
}
.backgroup {
    grid-area: backgroup;
    width: 750px;
}

.sign {
    grid-area: sign;
    height: 450px;
    width: 535px;
}

.sign h2 {
    color: #b5841a;
    position: relative;
    left: 10px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.sign p {
    font-style: italic;
    position: relative;
    color: #bea554;
    font-weight: bold;
    width: 425px;
    word-spacing: 2px;
}

.sign form {

    height: 260px;
    position: relative;
    width: 425px;
}

.input {
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid black;
}

.sign form input {
    position: relative;
    height: 30px;

}

.sign form button {
    position: relative;
    width: 100px;
    height: 30px;
    border: 0px;
    margin-top: 50px;
    border-radius: 2px;
    background-color: #808000;
    color: black;
}

.links {
    position: absolute;
    top: 20px;
    grid-area: links;
    width: 180px;
    height: 200px;
    background-color: #faebd7;
}

.more {
    grid-area: more;
    width: 215px;

}

footer {
    grid-area: footer;
    width: 750px;
}